---
// Import layout and get the post data
import Base from "../../../layouts/Base.astro";
const { slug } = Astro.params;
const post = await Astro.glob(`../../../content/blog/${slug}.md`).then((posts) =>
  posts[0]
);
---
<Base>
  <h1>{post.frontmatter.title}</h1>
  <p><strong>Author:</strong> {post.frontmatter.author}</p>
  <p><strong>Date:</strong> {post.frontmatter.date}</p>
  <article>
    {post.Content}
  </article>
</Base>
